<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>

    {{> header}}

    {{> nav}}

    <section class="d-flex justify-content-center align-content-center my-5">
        <h1 class="page-name text-info">Cómo comprar</h1>
    </section>

    <section class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Cómo comprar</h2>
                    <p>Segui los pasos del proceso de compra, elegi tu medio de pago y envio.</p>
                    <p>admin@mail.com</p>
                </div>
                <div class="col-md-8">
                    <h4>Proceso de compra</h4>
                    <p>Agregá los productos que te interesen haciendo click en el boton de "Comprar". Antes de finalizar la compra vas a poder elegir el medio de pago que prefieras (Tarjeta de crédito, de débito, Mercado pago, Efectivo). Si necesitas ayuda acerca de cómo proceder para comprar escribinos por WhatsApp y un asesor comercial te va a ayudar en todo el proceso de compra.</p>
                    <h4>Envios</h4>
                    <p>Se realizan envios a todo el país. Segui tu paquete con tu codigo de seguimiento.
                    </p>
                    <h4>Medios de pago</h4>
                    <p>Podes pagar con tarjeta de crédito o débito. Ofrecemos hasta 6 cuotas sin interés. También podés pagar con saldo en tu cuenta de Mercado Pago y con efectivo desde un Rapi Pago o Pago Fácil. Si pagas con transferencia bancaria te ofrecemos un 10% de descuento ADICIONAL.</p>
                    <h4>Devoluciones</h4>
                    <p>Si tuviste algun problema con tu pedido o necesitas hacer una devolucion escribinos por WhatsApp y un asesor comercial te va a ayudar en todo el proceso.</p>

                </div>
            </div>
        </div>
    </section>

    {{> footer}}

</body>

</html>